{% extends 'base.html' %}
{% block content %}
<div><a href="{{request.META.HTTP_REFERER|escape}}">&#8592; Back</a></div>
{% if tasks %}
    <h1>{{ tasks.category }}</h1>
    <ul class="list-group">
    {% for task in tasks %}
        <a href="#">
            <li class="list-group-item list-group-item-action">{{ task }}</li>
        </a>
    {% endfor %}
    </ul>
{% endif %}
{% if request.user.is_authenticated %}
    <a class="btn btn-primary btn-sm btn-block" href="{% url 'task_create' board_id %}">Add task</a>
{% endif %}
{% endblock %}
