{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h1>Your Boards:</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group rounded-container">
                <a href="{% url 'board_create' %}"
                   class="list-group-item list-group-item-action bg-primary text-white btn-sm text-center">
                    Create New Board
                </a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="list-group rounded-container">
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="True">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% for board in boards %}
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <a href="{% url 'board_detail' board.id %}" class="text-decoration-none">
                        {{ board.title }}
                    </a>
                    {% if board.show_delete_button %}
                    <button id="deleteBtn_{{ board.id }}" class="btn btn-danger btn-sm">Delete</button>
                    {% endif %}
                </div>
                {% empty %}
                <div class="list-group-item">No boards found.</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll("button[id^='deleteBtn_']").forEach(function(deleteBtn) {
        deleteBtn.addEventListener('click', function() {
            // Confirmation prompt
            var confirmDelete = confirm("Please confirm to delete task");
            if (confirmDelete) {
                // Extracting board ID from the button ID
                var boardId = this.id.split("_")[1]; // `this` refers to deleteBtn in this context

                var deleteUrl = `/boards/${boardId}/delete`;

                $.ajax({
                    url: deleteUrl,
                    type: "POST",
                    contentType: "application/json",
                    headers: { "X-CSRFToken": '{{ csrf_token }}' },
                    success: function(response) {
                        // Refresh page on successful delete
                        window.location.reload();
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            }
        });
    });
</script>

{% endblock %}