{% extends 'base.html' %}
{% block content %}
    <div class="container rounded-container">
      {% if task %}
        <div class="d-flex d-flex align-items-center mb-2">
          <div class="p-2 flex-grow-1"><a href="{{request.META.HTTP_REFERER|escape}}">&#8592; Back</a></div>
          <div class="p-2">
            <button id="discardBtn" class="btn btn-primary btn-sm" style="display:none;">Discard</button>
          </div>
          <div class="p-2">
            <button id="saveBtn" class="btn btn-primary btn-sm" style="display:none;">Save</button>
          </div>
          <div class="p-2">
            <button id="editBtn" class="btn btn-primary btn-sm">Edit</button>
          </div>
        </div>
        {% if task.high_priority is True %}
          <h3>
            <a href="{% url 'board_detail' task.category.id %}">[{{ task.category }}]: </a>
            <span id="taskName" contenteditable="false" style="color:red;">{{ task.name }}</span>
          </h3>
        {% else %}
          <h3>
            <a href="{% url 'board_detail' task.category.id %}">[{{ task.category }}]: </a>
            <span id="taskName" contenteditable="false"> {{ task.name }}</span>
          </h3>
        {% endif %}
        <div>Author: {{ task.author }}</div>
        <div>Assignee: <span id="taskAssignee" contenteditable="false">{{ task.assignee }}</span></div>
        <div class="d-flex align-items-center">
          Status:
          <select id="taskStatus" name="taskStatus" class="form-control form-control-sm ml-2" style="width: auto;" disabled>
            {% for value, display_text in task.taskStatus %}
                <option value="{{ value }}" {% if task.status == value %}selected{% endif %}>
                    {{ display_text }}
                </option>
            {% endfor %}
          </select>
        </div>
        <div>Created: {{ task.created_at }} </div>
        <div id="taskDeadline" contenteditable="false">Deadline: {{ task.due_to }}</div>
        <div>
          Description:
          <div id="taskDescription" class="task-description" contenteditable="false">
            {{ task.description|linebreaks }}
          </div>
        </div>
      <button id="deleteBtn" class="btn btn-danger btn-sm">Delete</button>
      {% else %}
        <p>Task not found</p>
      {% endif %}
    </div>
<script>
    $.ajaxSetup({
            headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    document.addEventListener('DOMContentLoaded', function(){
        var editBtn = document.getElementById('editBtn');
        var saveBtn = document.getElementById('saveBtn');
        var discardBtn = document.getElementById('discardBtn');
        var taskName = document.getElementById('taskName');
        var taskAssignee = document.getElementById('taskAssignee');
        var taskStatus = document.getElementById('taskStatus');
        var taskDeadline = document.getElementById('taskDeadline');
        var taskDescription = document.getElementById('taskDescription');

        // Function to toggle editable styling
        function toggleEditableStyle(element, isEditable) {
            if (isEditable) {
                element.classList.add('editable');
            } else {
                element.classList.remove('editable');
            }
        }

        // Toggle editability on button click
        editBtn.addEventListener('click', function(){
            // Toggle contentEditable and style
            [taskName, taskAssignee, taskStatus, taskDeadline, taskDescription].forEach(function(element) {
                element.contentEditable = "true";
                taskStatus.disabled = false;
                toggleEditableStyle(element, true);
            });

            taskName.focus(); // Focus on the name field to start editing
            editBtn.style.display = 'none';
            saveBtn.style.display = 'inline';
            discardBtn.style.display = 'inline';
        });

        discardBtn.addEventListener('click', function(){
            // Toggle contentEditable and remove style
            [taskName, taskAssignee, taskStatus, taskDeadline, taskDescription].forEach(function(element) {
                element.contentEditable = "false";
                taskStatus.disabled = true;
                toggleEditableStyle(element, false);
            });
            editBtn.style.display = 'inline';
            saveBtn.style.display = 'none';
            discardBtn.style.display = 'none';
        });

        // Save the changes
        saveBtn.addEventListener('click', function(){
            // Toggle contentEditable and remove style
            [taskName, taskAssignee, taskStatus, taskDeadline, taskDescription].forEach(function(element) {
                element.contentEditable = "false";
                taskStatus.disabled = true;
                toggleEditableStyle(element, false);
            });

            editBtn.style.display = 'inline';
            saveBtn.style.display = 'none';
            discardBtn.style.display = 'none';

            var JsonData = {
               taskName: taskName.textContent,
               taskAssignee: taskAssignee.textContent,
               taskStatus: taskStatus.value,
               taskDeadline: taskDeadline.textContent,
               taskDescription: taskDescription.textContent,
               csrfmiddlewaretoken: '{{ csrf_token }}'
            };

            $.ajax({
                url: "{% url 'task_update' task.id %}",
                type: "POST",
                contentType: "application/json",  // Indicating the type of content being sent
                data: JSON.stringify(JsonData),  // Converting the JavaScript object to a JSON string
                success: function(data) {
                    console.log('Success:', data);
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });

        // Delete object
        var deleteBtn = document.getElementById('deleteBtn');

        deleteBtn.addEventListener('click', function() {
          // Confirmation prompt
          var confirmDelete = confirm("Please confirm to delete task");
          if (confirmDelete) {
              $.ajax({
                  url: "{% url 'task_delete' task.id %}",
                  type: "POST",
                  contentType: "application/json",
                  headers: { "X-CSRFToken": '{{ csrf_token }}' },
                  success: function(response) {
                      // Redirect the user on successful delete
                      window.location.href = '/boards/' + response.board_id + '/backlog/';
                  },
                  error: function(error) {
                      console.error('Error:', error);
                  }
              });
          }
        });
    });
</script>

{% endblock %}


